<h1>Livros disponíveis</h1>

<div class="books-conatiner">
    {{#each books}}

        <div>
            #{{this.id}} - <span class="bold"><a href="books/{{this.id}}">{{this.titulo}}</a></span> - {{this.numero_de_pagina}} páginas
        </div>

    {{/each}}
</div>