<h1>Alte as informações do livro</h1>

<form action="/books/updatebook" method="post" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
    <div class="form-control">
        <label for="titulo">Título</label>
        <input type="text" name="titulo" placeholder="Digite o título" value="{{book.titulo}}">
    </div>
    
    <div class="form-control">
        <label for="paginas">Número de Páginas</label>
        <input type="number" name="paginas" placeholder="Digite a quantidade páginas" value="{{book.numero_de_pagina}}">
    </div>
    <input type="submit" value="Editar">
</form>