.tought-form-container a{
    color: #f6982d;
}

.tought-form-container a:hover{
    color: #FFF;
}

.tought-form-container h1{
    margin: 1em 0;
    color: #FFF;
    border-left: 4px solid #f6982d;
    padding: .3em;
    
}

.tought-form-container form{
    max-width: 30%;
    margin-top: 1.5em;
}